@mixin background-size($value: auto, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-background-size-browsers-prefixes,
        use-prefixes: $css3-background-size-use-prefixes
    ), $settings);
    @include property-with-browsers-prefixes(background-size, $value, $settings);
}