@mixin columns($value, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-columns-browsers-prefixes,
        use-prefixes: $css3-columns-use-prefixes
    ), $settings);
    @include property-with-browsers-prefixes(columns, $value, $settings);
}