@mixin column-rule-color($value, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-columns-browsers-prefixes,
        use-prefixes: $css3-columns-use-prefixes
    ), $settings);
    @include property-with-browsers-prefixes(column-rule-color, $value, $settings);
}