@import 'true';
@import 'test-config/screens';
@import 'test-config/old-browsers';
@import '../../../functions/map';
@import '../../../functions/screens';
@import '../../../mixins/css3/css3';
@import '../../../mixins/helpers/text-decoration/text-decoration';

@include test-module('Gridi Framework Core - Mixins - Helpers - Text Decoration') {
    @include test('Test Mixin - text-decoration-shorthand - test single value') {
        @include assert {
            @include output {
                @include text-decoration-shorthand(0);
            }
        
            @include expect {
                text-decoration: 0;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: overline,
                    style: solid,
                    color: black
                ));
            }
        
            @include expect {
                text-decoration: overline solid black;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value | important') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: overline,
                    style: solid,
                    color: black,
                    important: true
                ));
            }
        
            @include expect {
                text-decoration: overline solid black !important;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value with only line') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: overline
                ));
            }
        
            @include expect {
                text-decoration-line: overline;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value with only style and color') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    style: solid,
                    color: black
                ));
            }
        
            @include expect {
                text-decoration-style: solid;
                text-decoration-color: black;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value with make-shorthand set to true') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: 0,
                    make-shorthand: true
                ));
            }
        
            @include expect {
                text-decoration: 0;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value with make-shorthand set to false') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: 0,
                    make-shorthand: false
                ));
            }
        
            @include expect {
                text-decoration-line: 0;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value with make-shorthand set to false and set all values') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: overline,
                    style: solid,
                    color: black,
                    make-shorthand: false
                ));
            }
        
            @include expect {
                text-decoration-line: overline;
                text-decoration-style: solid;
                text-decoration-color: black;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand - test map value with make-shorthand set to false and set all values | important') {
        @include assert {
            @include output {
                @include text-decoration-shorthand((
                    line: overline,
                    style: solid,
                    color: black,
                    make-shorthand: false,
                    important: true
                ));
            }
        
            @include expect {
                text-decoration-line: overline !important;
                text-decoration-style: solid !important;
                text-decoration-color: black !important;
            }
        }
    }

    @include test('Test Mixin - text-decoration-shorthand-with-screens-support') {
        @include assert {
            @include output {
                @include text-decoration-shorthand-with-screens-support(0, (
                    s2: (
                        line: overline,
                        style: solid,
                        color: black,
                    )
                ));
            }

            @include expect {
                text-decoration: 0;
                @media (min-width: 1024px) {
                    text-decoration: overline solid black; 
                }
            }
        }
    }
}