@mixin align-content($value: stretch, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-flexbox-browsers-prefixes,
        use-prefixes: $css3-flexbox-use-prefixes,
        support-old-browsers: $css3-flexbox-support-old-browsers
    ), $settings);

    @if map-get($settings, support-old-browsers) and map-get($settings, use-prefixes) {
        $browsers-prefixes: map-get($settings, browsers-prefixes);

        $important: '';

        @if true == map-get($settings, important) {
            $important: ' !important';
        }

        @if $value == flex-start {
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-line-pack: start#{$important};
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-line-pack: start#{$important};
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-line-pack: start#{$important};
            }
        }
        @else if $value == flex-end {
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-line-pack: end#{$important};
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-line-pack: end#{$important};
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-line-pack: end#{$important};
            }
        } @else {
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-line-pack: $value#{$important};
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-line-pack: $value#{$important};
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-line-pack: $value#{$important};
            }
        }
    }
    @include property-with-browsers-prefixes(align-content, $value, $settings);
}