@mixin flex-direction-old-browser($value, $browsers-prefixes: $css3-flexbox-browsers-prefixes, $is-important: false) {
    $important: '';

    @if true == $is-important {
        $important: ' !important';
    }

    @if $value == row-reverse{
        @if index($browsers-prefixes, webkit) {
            -webkit-box-direction: reverse#{$important};
            -webkit-box-orient: horizontal#{$important};
        }
        @if index($browsers-prefixes, moz) {
            -moz-box-direction: reverse#{$important};
            -moz-box-orient: horizontal#{$important};
        }
    } @else if $value == column {
        @if index($browsers-prefixes, webkit) {
            -webkit-box-direction: normal#{$important};
            -webkit-box-orient: vertical#{$important};
        }
        @if index($browsers-prefixes, moz) {
            -moz-box-direction: normal#{$important};
            -moz-box-orient: vertical#{$important};
        }
    } @else if $value == column-reverse {
        @if index($browsers-prefixes, webkit) {
            -webkit-box-direction: reverse#{$important};
            -webkit-box-orient: vertical#{$important};
        }
        @if index($browsers-prefixes, moz) {
            -moz-box-direction: reverse#{$important};
            -moz-box-orient: vertical#{$important};
        }
    } @else {
        @if index($browsers-prefixes, webkit) {
            -webkit-box-direction: normal#{$important};
            -webkit-box-orient: horizontal#{$important};
        }
        @if index($browsers-prefixes, moz) {
            -moz-box-direction: normal#{$important};
            -moz-box-orient: horizontal#{$important};
        }
    }
}

@mixin flex-direction($value: row, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-flexbox-browsers-prefixes,
        use-prefixes: $css3-flexbox-use-prefixes,
        support-old-browsers: $css3-flexbox-support-old-browsers
    ), $settings);

    @if map-get($settings, support-old-browsers) and map-get($settings, use-prefixes) {
        @include flex-direction-old-browser($value, map-get($settings, browsers-prefixes), map-get($settings, important));
    }
    @include property-with-browsers-prefixes(flex-direction, $value, $settings);
}