@mixin justify-content($value: flex-start, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-flexbox-browsers-prefixes,
        use-prefixes: $css3-flexbox-use-prefixes,
        support-old-browsers: $css3-flexbox-support-old-browsers
    ), $settings);

    @if map-get($settings, support-old-browsers) and map-get($settings, use-prefixes) {
        $browsers-prefixes: map-get($settings, browsers-prefixes);
        
        @if $value == flex-start{
            @if index($browsers-prefixes, webkit) {
                -webkit-box-pack: start;
            }
            @if index($browsers-prefixes, moz) {
                -moz-box-pack: start;
            }
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-pack: start;
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-pack: start;
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-pack: start;
            }
        } @else if $value == flex-end {
            @if index($browsers-prefixes, webkit) {
                -webkit-box-pack: end;
            }
            @if index($browsers-prefixes, moz) {
                -moz-box-pack: end;
            }
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-pack: end;
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-pack: end;
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-pack: end;
            }
        } @else if $value == space-between {
            @if index($browsers-prefixes, webkit) {
                -webkit-box-pack: justify;
            }
            @if index($browsers-prefixes, moz) {
                -moz-box-pack: justify;
            }
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-pack: justify;
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-pack: justify;
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-pack: justify;
            }
        } @else if $value == space-around {
            -ms-flex-pack: distribute;
        } @else {
            @if index($browsers-prefixes, webkit) {
                -webkit-box-pack: $value;
            }
            @if index($browsers-prefixes, moz) {
                -moz-box-pack: $value;
            }
            @if index($browsers-prefixes, webkit) {
                -webkit-flex-pack: $value;
            }
            @if index($browsers-prefixes, moz) {
                -moz-flex-pack: $value;
            }
            @if index($browsers-prefixes, ms) {
                -ms-flex-pack: $value;
            }
        }
    }
    @include property-with-browsers-prefixes(justify-content, $value, $settings);
}