@mixin animation-timing-function($value: ease, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-animation-browsers-prefixes,
        use-prefixes: $css3-animation-use-prefixes
    ), $settings);
    @include property-with-browsers-prefixes(animation-timing-function, $value, $settings);
}
