@mixin box-shadow($value: none, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-box-shadow-browsers-prefixes,
        use-prefixes: $css3-box-shadow-use-prefixes
    ), $settings);
    
    @include property-with-browsers-prefixes(box-shadow, $value, $settings);
}