//Primary color
$primary-color: get-color(blue) !default;
$hover-primary-color: get-color(blue, 400) !default;
//Text colors for usage primary color like a background for element
$primary-color-background-text-color: get-color(white) !default;
$hover-primary-color-background-text-color: get-color(white) !default;

//Secondary color
$secondary-color: get-color(grey) !default;
$hover-secondary-color: get-color(grey, 400) !default;
//Text colors for usage secondary color like a background for element
$secondary-color-background-text-color: get-color(white) !default;
$hover-secondary-color-background-text-color: get-color(white) !default;

//Info color
$info-color: get-color(light blue) !default;
$hover-info-color: get-color(light blue, 400) !default;
//Text colors for usage info color like a background for element
$info-color-background-text-color: get-color(white) !default;
$hover-info-color-background-text-color: get-color(white) !default;

//Success color
$success-color: get-color(green) !default;
$hover-success-color: get-color(green, 400) !default;
//Text colors for usage success color like a background for element
$success-color-background-text-color: get-color(white) !default;
$hover-success-color-background-text-color: get-color(white) !default;

//Warning color
$warning-color: get-color(amber) !default;
$hover-warning-color: get-color(amber, 400) !default;
//Text colors for usage warning color like a background for element
$warning-color-background-text-color: get-color(white) !default;
$hover-warning-color-background-text-color: get-color(white) !default;

//Error color
$error-color: get-color(red) !default;
$hover-error-color: get-color(red, 400) !default;
//Text colors for usage error color like a background for element
$error-color-background-text-color: get-color(white) !default;
$hover-error-color-background-text-color: get-color(white) !default;
