//Colors map
$extra-colors-map: () !default;
//Define your own colors map
//This colors map will be conect with default colors map (look on variables/colors)
//You can also override the default colors here
/*
Example: 

$extra-colors-map: (
    my-color: (
        50: #FFEBEE,
        100: #FFCDD2,
        200: #EF9A9A,
        300: #E57373,
        400: #EF5350,
        500: #F44336,
        600: #E53935,
        700: #D32F2F,
        800: #C62828,
        900: #B71C1C,
        a100: #FF8A80,
        a200: #FF5252,
        a400: #FF1744,
        a700: #D50000,
    )
);
*/

//Primary color
$primary-color: get-color(blue) !default;
$hover-primary-color: get-color(blue, 400) !default;
//Text colors for usage primary color like a background for element
$primary-color-background-inner-color: get-color(white) !default;
$hover-primary-color-background-inner-color: get-color(white) !default;

//Secondary color
$secondary-color: get-color(grey) !default;
$hover-secondary-color: get-color(grey, 400) !default;
//Text colors for usage secondary color like a background for element
$secondary-color-background-inner-color: get-color(white) !default;
$hover-secondary-color-background-inner-color: get-color(white) !default;

//Info color
$info-color: get-color(light blue) !default;
$hover-info-color: get-color(light blue, 400) !default;
//Text colors for usage info color like a background for element
$info-color-background-inner-color: get-color(white) !default;
$hover-info-color-background-inner-color: get-color(white) !default;

//Success color
$success-color: get-color(green) !default;
$hover-success-color: get-color(green, 400) !default;
//Text colors for usage success color like a background for element
$success-color-background-inner-color: get-color(white) !default;
$hover-success-color-background-inner-color: get-color(white) !default;

//Warning color
$warning-color: get-color(amber) !default;
$hover-warning-color: get-color(amber, 400) !default;
//Text colors for usage warning color like a background for element
$warning-color-background-inner-color: get-color(white) !default;
$hover-warning-color-background-inner-color: get-color(white) !default;

//Danger color
$danger-color: get-color(red) !default;
$hover-danger-color: get-color(red, 400) !default;
//Text colors for usage danger color like a background for element
$danger-color-background-inner-color: get-color(white) !default;
$hover-danger-color-background-inner-color: get-color(white) !default;

/*
Fro get colors palete use function "get-colors-palette". Default looks like this:
$colors-palette: (
    primary: (
        color: $primary-color,
        hover-color: $hover-primary-color,
        background-inner-color: $primary-color-background-inner-color,
        hover-background-inner-color: $hover-primary-color-background-inner-color
    ),
    secondary: (
        color: $secondary-color,
        hover-color: $hover-secondary-color,
        background-inner-color: $secondary-color-background-inner-color,
        hover-background-inner-color: $hover-secondary-color-background-inner-color
    ),
    info: (
        color: $info-color,
        hover-color: $hover-info-color,
        background-inner-color: $info-color-background-inner-color,
        hover-background-inner-color: $hover-info-color-background-inner-color
    ),
    success: (
        color: $success-color,
        hover-color: $hover-success-color,
        background-inner-color: $success-color-background-inner-color,
        hover-background-inner-color: $hover-success-color-background-inner-color
    ),
    warning: (
        color: $warning-color,
        hover-color: $hover-warning-color,
        background-inner-color: $warning-color-background-inner-color,
        hover-background-inner-color: $hover-warning-color-background-inner-color
    ),
    danger: (
        color: $danger-color,
        hover-color: $hover-danger-color,
        background-inner-color: $danger-color-background-inner-color,
        hover-background-inner-color: $hover-danger-color-background-inner-color
    )
);
*/

$extra-colors-palette: () !default;
//Define your own colors palette
//This palette will be conect with default colors palete (look higher)
/*
Example:

$extra-colors-palette: (
    my-palette-color-name: (
        color: get-color(yellow),
        hover-color: get-color(yellow),
        background-inner-color: get-color(white),
        hover-background-inner-color: get-color(white)
    ),
);
*/
$skip-palette-colors: null !default;
//Define which colour palette to skip - make sass list
/*
Examples:

$skip-palette-colors: success;
$skip-palette-colors: success, danger;
*/