$document-background-color: get-color(white);
$document-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$document-font-size: 13px;
$document-font-weight: normal;
$document-line-height: 1.6em;
$document-color: get-color(black);
