//Elements
$elements-margin-vertical: 20px;
$elements-margin-horizontal: 0;
$elements-margin: $elements-margin-vertical $elements-margin-horizontal;

//Inline backgrounds
$inline-background-elements-padding: 2px 4px;

//Underline
$underline-elements-line-bottom: 0.154em;
$underline-elements-line-size: 0.077em;
