@mixin flex-grow($int: 0, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-flexbox-browsers-prefixes,
        use-prefixes: $css3-flexbox-use-prefixes,
        support-old-browsers: $css3-flexbox-support-old-browsers
    ), $settings);

    @if map-get($settings, support-old-browsers) and map-get($settings, use-prefixes) {
        $browsers-prefixes: map-get($settings, browsers-prefixes);
        @if index($browsers-prefixes, webkit) {
            -webkit-box-flex: $int;
        }
        @if index($browsers-prefixes, moz) {
            -moz-box-flex: $int;
        }
    }
    @include property-with-browsers-prefixes(flex-grow, $int, $settings);
}