@mixin flex-basis($value: auto, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-flexbox-browsers-prefixes,
        use-prefixes: $css3-flexbox-use-prefixes,
    ), $settings);

    @if index(map-get($settings, browsers-prefixes), ms) and map-get($settings, use-prefixes) {
        $important: '';

        @if true == map-get($settings, important) {
            $important: ' !important';
        }
        -ms-flex-preferred-size: $value#{$important};
    }
    @include property-with-browsers-prefixes(flex-basis, $value, $settings);
}