@mixin order($int: 0, $support-old-browsers: $support-old-browsers) {
    @if $support-old-browsers {
        -webkit-box-ordinal-group: $int + 1;
        -moz-box-ordinal-group: $int + 1;
        -webkit-flex-order: $int;
        -moz-flex-order: $int;
        -ms-flex-order: $int;
    }
    @include css3-property(order, $int, webkit moz ms);
}