@mixin font-face($font-name, $font-file, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($font-file + '.eot');
        src: url($font-file + '.eot?#iefix') format('embedded-opentype'),
            url($font-file + '.woff') format('woff'),
            url($font-file + '.ttf') format('truetype'),
            url($font-file + '.svg##{$font-name}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}
