@mixin text-align-last($value: auto, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-text-align-last-browsers-prefixes,
        use-prefixes: $css3-text-align-last-use-prefixes
    ), $settings);

    @include property-with-browsers-prefixes(text-align-last, $value, $settings);
}