@mixin text-size-adjust($value: auto, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-text-size-adjust-browsers-prefixes,
        use-prefixes: $css3-text-size-adjust-use-prefixes
    ), $settings);

    @include property-with-browsers-prefixes(text-size-adjust, $value, $settings);
}