@mixin text-overflow($value: clip, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-text-overflow-browsers-prefixes,
        use-prefixes: $css3-text-overflow-use-prefixes
    ), $settings);

    @include property-with-browsers-prefixes(text-overflow, $value, $settings);
}