@mixin appearance($value: normal, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-appearance-browsers-prefixes,
        use-prefixes: $css3-appearance-use-prefixes
    ), $settings);
    @include property-with-browsers-prefixes(appearance, $value, $settings);
}