@mixin resize($value: both, $settings: ()) {
    $settings: map-merge((
        browsers-prefixes: $css3-resize-browsers-prefixes,
        use-prefixes: $css3-resize-use-prefixes
    ), $settings);

    @include property-with-browsers-prefixes(resize, $value, $settings);
}